body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    line-height: 50%;
    background: #03254E;
    color: #70B77E;
    border-left: 8px solid #70B77E;
    
}
a{
    color: white;
}
.border-blue {
    border: 1px dotted blue;
}